body {
  margin: 20px;
}

.calculadora {
  width: 300px;
  border: 2px solid black;
  padding: 20px;
}

.display {
  background-color: black;
  color: lime;
  font-size: 32px;
  padding: 20px;
  margin-bottom: 15px;
  text-align: right;
  border: 2px solid black;
  min-height: 40px;
}

.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.botao {
  padding: 15px;
  border: 2px solid black;
  background-color: #ccc;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.botao.operador {
  background-color: orange;
}

.botao:hover {
  background-color: #bbb;
}

.botao.operador:hover {
  background-color: #e69500;
}

.botao.zero {
  grid-column: span 2;
}